@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dark --default;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

body {
  display: grid;
  place-items: center;
}
